/* Remove the navbar's default margin-bottom and rounded borders */
html,body{
    height: 100%;
}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.cover{
object-fit: cover;
width: 100%;

}
.navbar-inverse {
    background-color: #0C456B;
    border: none;
}

.navbar-brand {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-inverse .navbar-brand {
    color: #CF00D6;
}

.zoom {
    
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.2); /* (150% zoom)*/
  }


/* Add a gray background color and some padding to the footer */

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel-inner img {
    width: 100%;
    /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}

.index-posts {
    background-color: #677A89;
    text-align: left;
    padding: 2%;
    color: white;
    border: 1%;
    border-color: #303852;
    border-style: solid;
}


/* Hide the carousel text when the screen is less than 600 pixels wide */

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.SignupInputs {
    border: 2px solid #2699FB;
    border-radius: 15px;
    width: 45%;
    height: 50px;
    margin: 1%;
}

.SignupButton {
    background-color: #52304D;
    border-radius: 5px;
    width: 30%;
    height: 50px;
    margin-top: 5%;
    border: none;
    color: white;
}

::placeholder {
    color: #F26FBA;
    padding-left: 3%;
}

.ToTop {
    
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #52304D;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    float: right;
    
}
.container {
    max-width: 1920px;
    width: 85%;
}
.vertical-menu {
    width: 15%;
    position: absolute;
    height: 100%;
    background-color: #52304D;
    padding-left: 2%;
    /*z-index: -1;*/
}

.vertical-menu-responsive {
    width: 100%;
    position: relative;
    background-color: #52304D;
    padding-left: 2%;
    /*z-index: -1;*/
}

@media screen and (max-width: 600px) {
    .SignupInputs,
    .SignupButton {
        width: 90%;
    }
}

@media screen and (min-width: 600px) {
    .Dashboard {
        padding-left: 10%;
        padding-right: 10%;
        transform: scale(0.8, 0.8);
        min-height: 100%;
    }
    .vertical-menu-responsive {
        display: none;
    }
}

.css-selector {
    background: linear-gradient(270deg, #1aeeb7, #f0d920, #9abbf3, #eb9af3, #f2b259);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 50s ease infinite;
    -moz-animation: AnimationName 50s ease infinite;
    -o-animation: AnimationName 50s ease infinite;
    animation: AnimationName 50s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
