<p>hi {{user.get_username}}</p>
<a href="/">main page</a>
<a href="{% url 'gallery:create' %}">create</a>
<a href="{% url 'gallery:logout' %}">logout</a>

{% for post in object_list %}
    <div>
        <p>{{post.title}}</p>
        <a href="{% url 'gallery:delete' post.pk %}">(delete)</a>
        <img src="{{post.photo.url}}" alt="{{post.title}}">
        <p>{{post.description}}</p>
        <p>{{post.created}}</p>
        <p>sender: {{post.user}}</p>
        <br>-----------------------------------------
    </div>
{% empty %}
    <div>empty</div>
{% endfor %}