{% extends 'base.html' %}

{% load static %}
{% block title %}POST{% endblock %}


{% block main %}

    <div class="container" style="margin-top: 2%; margin-bottom: 2%">
        <div class="row" style="text-align: center;">
            <div class="col-sm-6" style="">
                <div class="col-sm-10" style="color: white; text-align: left; padding: 0;">{{post.title}}</div>
                <div class="col-sm-1" style="text-align: right; padding: 0;">
                    <img src="{% static 'img/heart.svg' %}" style="width: 15px;">
                </div>
                <div class="col-sm-1" style="text-align: left; padding: 0;font-size: 15px; color: #F26FBA;">{{post.likes.count}}</div>

            </div>
            <div class="col-sm-6" style="text-align: center; background-color: #303852;">
                <img src="{{post.photo.url}}" alt="{{post.title}}">
                <!--img src="{% static 'img/cinarta-f1-transparent.png' %}" width="200" height="200"-->
            </div>


        </div>
    </div>





{% endblock %}