<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles.css">
    <link type="text/css" rel="stylesheet" href="style.css" />

</head>

<body class="Body">
    <!--navbar div-->
    <div class="Navbar">

        <div class="NavbarLeft">
            <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> The Cinarta Kid </h4>


        </div>

        <div class="NavbarCenter">
            <li><a href="#FEED"> FEED  </a></li>
            <li><a href="#Sign up" class="SignupButtonMargin"> SIGNUP  </a></li>
            <li><a href="#Sign in" class="SignupButtonMargin"> SIGNIN  </a></li>


        </div>


        <div class="NavbarRight">
            <li>
                <a href="#Instagram"> <img src="/instagram.svg" height="auto" width="12px" ;> </a>
            </li>
            <li>
                <a href="#Website"> <img src="/WEB.svg.jpg" height="auto" width="24px" ;></a>
            </li>
            <li>
                <a href="#Profile"> <img src="/user.svg" height="auto" width="12px" ;></a>
            </li>

            </ul>
        </div>

    </div>



    <!-- different part start -->

    <table class="PostPageTable">

        <tr>
            <td style="width: 45%; height: auto; padding-right: 4%;">
                <table class="PostPageTable2">
                    <tr>
                        <td style="padding: 0px; width: 80%;">
                            <h3 style="color: white; margin: 0px; margin-bottom: 30px;">Write a caption for your post:</h3>
                        </td>
                    </tr>
                    <tr style="width: 100%;;height: 150px;">
                        <td style="position: relative;">
                            <input type="text" style="position: absolute;
                            display: block;
                            top:0;
                            left:0;
                            margin: 0;
                            height: 100%;
                            width: 100%;
                            border: none;
                            padding: 10px;
                            box-sizing: border-box;" placeholder="Write a Response...">
                        </td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="SHARE" class="SignupButton" style="padding-left: 0px; margin-left: 0px; margin-top: 30px; width: 50%; font-size: 10px;"></td>
                    </tr>
                </table>
            </td>

            <td style="width: 46%; height: auto; background-color: white;"></td>
        </tr>

    </table>


    <!-- different part end -->




    <footer class="Footer">

        <div class="NavbarLeft">
            <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> The Cinarta Kid </h4>


        </div>

        <div class="FooterCenter">
            <li><a href="#FEED"> FEED  </a></li>
            <li><a href="#Sign up" class="SignupButtonMargin"> Sign up  </a></li>
            <li><a href="#Sign in" class="SignupButtonMargin"> Sign in  </a></li>


        </div>


        <div class="NavbarRight" style="padding: 0px; margin-top: -5px;">
            <li>
                <a href="#Instagram"> <img src="/cinarta-f1-transparent.png" height="50" width="auto" ;></a>
            </li>
            </ul>
        </div>

    </footer>

</body>

</html>