<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles.css">
    <link type="text/css" rel="stylesheet" href="style.css" />

</head>

<body class="Body">
    <!--navbar div-->
    <div class="Navbar">

        <div class="NavbarLeft">
            <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> The Cinarta Kid </h4>


        </div>

        <div class="NavbarCenter">
            <li><a href="#FEED"> FEED  </a></li>
            <li><a href="#Sign up" class="SignupButtonMargin"> SIGNUP  </a></li>
            <li><a href="#Sign in" class="SignupButtonMargin"> SIGNIN  </a></li>


        </div>


        <div class="NavbarRight">
            <li>
                <a href="#Instagram"> <img src="/instagram.svg" height="auto" width="12px" ;> </a>
            </li>
            <li>
                <a href="#Website"> <img src="/WEB.svg.jpg" height="auto" width="24px" ;></a>
            </li>
            <li>
                <a href="#Profile"> <img src="/user.svg" height="auto" width="12px" ;></a>
            </li>

            </ul>
        </div>

    </div>



    <!-- different part start -->

    <div class="Signup">
        <form action="/action_page.php">

            <input type="text" name="username" placeholder="Username" class="SignupInputs"><br>

            <input type="password" name="password" placeholder="Password" class="SignupInputs"><br>

            <input type="submit" value="SIGN IN" class="SignupButton">
        </form>
    </div>

    <!-- different part end -->




    <footer class="Footer">

        <div class="NavbarLeft">
            <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> The Cinarta Kid </h4>


        </div>

        <div class="FooterCenter">
            <li><a href="#FEED"> FEED  </a></li>
            <li><a href="#Sign up" class="SignupButtonMargin"> Sign up  </a></li>
            <li><a href="#Sign in" class="SignupButtonMargin"> Sign in  </a></li>


        </div>


        <div class="NavbarRight" style="padding: 0px; margin-top: -5px;">
            <li>
                <a href="#Instagram"> <img src="/cinarta-f1-transparent.png" height="50" width="auto" ;></a>
            </li>
            </ul>
        </div>

    </footer>

</body>

</html>