.Body {
    background-color: #303852;
    margin: 0px;
}


/*navbar styles*/

.Navbar {
    display: flex;
    background-color: #0C456B;
    width: auto;
    list-style-type: none;
    padding: 1%;
}


/* links view*/

a:link {
    text-decoration: none;
}

a:link {
    color: white;
}

a:active {
    color: white;
}

a:visited {
    color: white;
}

li {
    float: left;
}

.NavbarLeft {
    color: darkmagenta;
    font-family: 'Segoe UI';
    margin-left: 10%;
    font-size: 20px;
    margin: auto;
}

h4 {
    margin: 0;
}

.NavbarCenter {
    display: flex;
    font-size: 10px;
    font-family: 'Arial';
}

.NavbarRight {
    margin: auto;
    display: flex;
    font-family: Arial;
}

.Head {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 271px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 117px;
    margin-right: 117px;
}

.HeadText {
    position: absolute;
    color: #CF00D6;
    margin-left: 144px;
    top: 50%;
    transform: translate(0, -50%);
}

.LOGO {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Footer {
    display: flex;
    background-color: #0C456B;
    overflow: hidden;
    width: auto;
    height: 6%;
    list-style-type: none;
    bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    margin-bottom: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.SignupButtonMargin {
    margin-left: 52px;
}

.FooterCenter {
    margin-top: 18px;
    display: flex;
    font-size: 7px;
    margin-left: 30%;
}


/* signup page */

.Signup {
    position: fixed;
    left: 31%;
    top: 20%;
    width: 700px;
}

.SignupInputs {
    border: 2px solid #2699FB;
    border-radius: 15px;
    width: 500px;
    height: 40px;
    margin: 10px;
}

.SignupButton {
    background-color: #52304D;
    border-radius: 5px;
    width: 40%;
    height: 35px;
    margin-top: 50px;
    margin-left: 18%;
    border: none;
    color: white;
}

::placeholder {
    color: #F26FBA;
    padding-left: 3%;
}

.PostPageTable {
    background-color: none;
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 7%;
    border-spacing: 0px;
}

.PostPageTable2 {
    background-color: none;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    border-spacing: 0px;
}